* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 80px;
    font-size: 16px;
}

a {
    color: black;
}

span {
    color: blue;
}

.Logo {
    width: 140px;
    height: 140px;
    gap: 26px;
}

.headerbutton {
    padding: 12px;
    background-color: #003AAA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 107px;
    height: 44px;
    gap: 26px;
}

.Start {
    width: 100%;
    height: 465px;
    background-color: #003AAA;
    color: white;
}

.startimg {
    width: 620px;
    height: 410px;
    position: absolute;
    left: 705px;
    top: 110px;
}

.textstart {
    position: absolute;
    left: 100px;
    top: 180px;
    width: 500px;
    height: 200px;
}

.buttonstart {
    padding: 12px;
    background-color: white;
    color: #003AAA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    height: 44px;
    gap: 26px;
    margin-top: 20px;
}

.deliver {
    position: absolute;
    left: 80px;
    text-align: center;
    color: #003AAA;
}

.Payment {
    position: absolute;
    left: 520px;
    text-align: center;
    color: #003AAA;
}

.support {
    position: absolute;
    left: 980px;
    text-align: center;
    color: #003AAA;
}

.Category {
    position: absolute;
    top: 850px;
    left: 50px;
}

.View {
    position: absolute;
    top: 860px;
    right: 50px;
    font-size: 20px;
}

.Pen {
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 940px;
    left: 80px;
}

.Pencil {
    width: 119px;
    height: 119px;
    border-radius: 50%;
}


.Paper {
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 940px;
    left: 330px;
}

.notebook {
    width: 119px;
    height: 119px;
    border-radius: 50%;
}


.PC {
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 940px;
    left: 620px;
}

.Comp {
    width: 119px;
    height: 119px;
    border-radius: 50%;
}


.File {
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 940px;
    left: 900px;
}

.FilesFolder {
    width: 119px;
    height: 119px;
    border-radius: 50%;
}


.Pc2 {
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 940px;
    left: 1120px;
}

.Deskss {
    width: 119px;
    height: 119px;
    border-radius: 50%;
}


.products {
    position: absolute;
    top: 1200px;
    left: 50px;
}

.views {
    position: absolute;
    top: 1210px;
    right: 50px;
    font-size: 20px;
}


.Gift {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 1300px;
    text-align: center;
    left: 50px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.giftimg {
    width: 252px;
    height: 169px;
}

.buttongift {
    padding: 12px;
    background-color: #003AAA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 107px;
    height: 44px;
    gap: 26px;
    margin-top: 20px;
}


.Color {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 1300px;
    text-align: center;
    left: 500px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.colorimg1 {
    width: 132px;
    height: 165px;
}


.Color2 {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 1300px;
    text-align: center;
    left: 950px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.colorimg2 {
    width: 132px;
    height: 165px;
}


.note {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 1700px;
    text-align: center;
    left: 50px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.Notebook1 {
    width: 132px;
    height: 165px;
}


.regulary {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 1700px;
    text-align: center;
    left: 500px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.regularbook {
    width: 132px;
    height: 165px;
}

.journals {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 1700px;
    text-align: center;
    left: 950px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.journalimg {
    width: 132px;
    height: 165px;
}


.organizer {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 2100px;
    text-align: center;
    left: 50px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.organizeimg {
    width: 132px;
    height: 165px;
}


.planter{
    width: 315px;
    height: 345px;
    position: absolute;
    top: 2100px;
    text-align: center;
    left: 500px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.planterimg {
    width: 132px;
    height: 165px;
}


.case {
    width: 315px;
    height: 345px;
    position: absolute;
    top: 2100px;
    text-align: center;
    left: 950px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.caseimg {
    width: 165px;
    height: 165px;
}


.planners {
    width: 315px;
    height: 375px;
    position: absolute;
    top: 2500px;
    text-align: center;
    left: 50px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.plannersimg {
    width: 165px;
    height: 195px;
}


.organizerac {
    width: 315px;
    height: 375px;
    position: absolute;
    top: 2500px;
    text-align: center;
    left: 500px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.accessiorsimg {
    width: 165px;
    height: 195px;
}


.fileorganizer {
    width: 315px;
    height: 375px;
    position: absolute;
    top: 2500px;
    text-align: center;
    left: 950px;
    background-color: #003AAA21;
    border: 2px solid #003AAA;
}

.fileorgimg {
    width: 165px;
    height: 195px;
}

.innovative {
    font-size: 24px;
    position: absolute;
    top: 2900px;
    left: 350px;
}


.solution {
    width: 430px;
    height: 285px;
    background-color: #003AAA;
    text-align: center;
    position: absolute;
    top: 3000px;
    border-radius: 12px;
    color: white;
    left: 2px;
}

.buttonsolution {
    padding: 12px;
    background-color: white;
    color: #003AAA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 196px;
    height: 50px;
    gap: 26px;
    margin-top: 20px;
    position: absolute;
    top: 188px;
    left: 116px;
}

.sch1 {
    font-size: 24px;
    position: absolute;
    top: 47px;
    left: 92px;
}

.pch1 {
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 32px;
}

.officesolution {
    width: 430px;
    height: 285px;
    text-align: center;
    position: absolute;
    top: 3000px;
    border-radius: 12px;
    color: #003AAA;
    left: 452px;
    border: #003AAA 2px solid;
}

.ofh1 {
    font-size: 24px;
    position: absolute;
    top: 47px;
    left: 92px;
}

.ofp1 {
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 32px;
}


.university {
    width: 430px;
    height: 285px;
    background-color: #003AAA;
    text-align: center;
    position: absolute;
    top: 3000px;
    border-radius: 12px;
    color: white;
    left: 902px;
}

.unh1 {
    font-size: 24px;
    position: absolute;
    top: 47px;
    left: 92px;
}

.unp1 {
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 32px;
}

.buttonsolution1 {
      padding: 12px;
    background-color: #003AAA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 196px;
    height: 50px;
    gap: 26px;
    margin-top: 20px;
    position: absolute;
    top: 188px;
    left: 116px;
}

.Ourblog {
    font-size: 24px;
    position: absolute;
    top: 3350px;
    left: 600px;
}


.nkts {
    width: 428px;
    height: 430px;
    border: #003AAA 2px solid;
    position: absolute;
    top: 3450px;
    border-radius: 2px;
    color: #003AAA;
    left: 5px;
    padding: 10px;
}

.bksn {
    width: 405px;
    height: 213px;
    border-radius: 4px;
}

.room {
    width: 428px;
    height: 430px;
    border: #003AAA 2px solid;
    position: absolute;
    top: 3450px;
    border-radius: 2px;
    color: #003AAA;
    left: 453px;
    padding: 10px;
}

.roomimg {
    width: 405px;
    height: 213px;
    border-radius: 4px;
}

.stelsa {
    width: 428px;
    height: 430px;
    border: #003AAA 2px solid;
    position: absolute;
    top: 3450px;
    border-radius: 2px;
    color: #003AAA;
    left: 900px;
    padding: 10px;
}

.stelsimg {
    width: 405px;
    height: 213px;
    border-radius: 4px;
}

.h1ou {
    font-size: 24px;
    position: absolute;
    top: 3950px;
    left: 545px;
}


.rumr {
    width: 600px;
    height: 300px;
    border: #003AAA 2px solid;
    position: absolute;
    top: 4050px;
    left: 30px;
    border-radius: 10px;
}

.otziv {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 45px;
    border: black 2px solid;
}

.rumi {
    font-size: 24px;
    left: 134px;
    position: absolute;
    top: 60px;
}

.Dhaka {
    position: absolute;
    top: 95px;
    left: 134px;
}

.inworld {
    font-size: 16px;
    position: absolute;
    top: 162px;
    left: 25px;
}


.sumi {
    width: 600px;
    height: 300px;
    border: #003AAA 2px solid;
    position: absolute;
    top: 4050px;
    left: 700px;
    border-radius: 10px;
}

.sumiimg {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 45px;
    border: black 2px solid;
}

.sumiak {
    font-size: 24px;
    left: 134px;
    position: absolute;
    top: 60px;
}


footer {
    background:#4a84c5;
    color:white;
    padding: 30px 20px;
    position: relative;
    top: 3850px;
}

.aaas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aaas2 {
    width: 200px;
}

h4 {
    margin-bottom: 10px;
}

.a777 {
    display:block;
    color:white;
    margin-bottom: 5px;
}

p {
    margin:5px 0;
}

.aaas3 {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}